.banner {
  margin-bottom: 2em;
  padding-bottom: 2.5em;
  padding-top: 2em;

  @media (min-width: $sidebar-breakpoint) {
    margin-bottom: 4em;
    padding-bottom: 3.25em;
    padding-top: 3em;
  }
}

.banner--big {
  margin-bottom: 4em;
  padding-bottom: 3.25em;
  padding-top: 3em;

  @media (min-width: $sidebar-breakpoint) {
    margin-bottom: 6em;
    padding-bottom: 5.25em;
    padding-top: 5em;
  }
}

.banner--reversed {
  background: $black;
  color: $white;
}

// three levels deep should be enough (use case: .banner > div > ul > li)
// so let's make it four levels deep
.banner {
  > :last-child,
  > :last-child > :last-child,
  > :last-child > :last-child > :last-child,
  > :last-child > :last-child > :last-child > :last-child {
    margin-bottom: 0;
  }
}
