.banner {
  margin-bottom: 4em;
  padding-bottom: 3.25em;
  padding-top: 3em;
}

.banner--big {
  margin-bottom: 6em;
  padding-bottom: 5.25em;
  padding-top: 5em;
}

.banner--reversed {
  background: $black;
  color: $white;
}

.banner,
.banner__internal {
  > :last-child {
    margin-bottom: 0;
  }
}
