html,
body {
  margin: 0;
  padding: 0;
}

// start with consistent, one-way spacing
// original did this to every div... why?
object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure, .grid {
  margin: 0 0 1.5em;
  padding: 0;
}

// unlist all lists, add back in rich-text styles
ul, ol {
  list-style: none;
}

.text-center {
  text-align: center
}

.site-width {
  margin: 0 auto;
  max-width: 50em;
  padding: 0 7%;
}

.site-width--wide {
  max-width: 80em;
}

.section {
  margin-bottom: 6em;
}

.spacer {
  display: block;
  height: 2em;
}

.site-wrapper {
  @media (min-width: $sidebar-breakpoint) {
    margin-right: 20%;
  }
}

.grid {

}

.grid__item {
  display: inline-block;
  width: 50%;
}

.grid__item--1-5 {
  @media (min-width: 568px) {
    width: 33%;
  }

  @media (min-width: 1024px) {
    width: 20%;
  }
}
