
@mixin declare-font-size-in-pixels($pixels) {
  font-size: $pixels * 1px;
  font-size: ($pixels / $base-font-size) * 1rem;
}

@mixin declare-relative-font-size($multiplier) {
  font-size: $multiplier * $base-font-size * 1px;
  font-size: $multiplier * 1rem;
}

html {
  color: $black;
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  font-size: $base-font-size-mobile * 1px;
  line-height: $base-line-height; // magic number
  -webkit-text-size-adjust: 100%; // Prevent font scaling in landscape while allowing user zoom

  @media (min-width: $sidebar-breakpoint) {
    font-size: $base-font-size * 1px;
  }
}

/* Common margin-bottom for vertical rhythm. */
h1,h2,h3,h4,h5,h6,ul,ol,dl,fieldset,p,table,pre,hr {
    margin-bottom: $magic-number * 1px;
    margin-bottom: $base-line-height * 1rem;
}

// headers
h1, h2, h3 {
  // check performance painting
  // does nothing in ie/edge
  text-rendering: optimizeLegibility;
}

/* These handle massive type, for less frequently occuring bits of text (e.g. in mastheads and banners). */
// .giga {
//   @include declare-font-size-in-pixels(80);
//   line-height: 1.7;
// }
// .mega {
//   @include declare-font-size-in-pixels(64);
//   line-height: 1.7;
// }
// .kilo {
//   @include declare-font-size-in-pixels(48);
//   line-height: 1.7;
// }

/* Define headings and their associated classes here. */
h1,.alpha {
  @include declare-font-size-in-pixels(21);
  line-height: 1.8;

  @media (min-width: $sidebar-breakpoint) {
    @include declare-font-size-in-pixels(24); // 1.5625
  }
}
h2,.beta {
  @include declare-font-size-in-pixels(21); // 1.3125
  line-height: 1.8;
  text-decoration: underline;
}
h3,.gamma {
  @include declare-font-size-in-pixels(19); // 1.1875
  line-height: 1.8;
  text-decoration: underline;
}
h4,.delta {
  @include declare-font-size-in-pixels(14);
  line-height: 1.7;
  margin-bottom: 1em;
}
h5,.epsilon {
  @include declare-font-size-in-pixels(13);
  line-height: 1.7;
  color: #999;
  margin-bottom: 0.5em;
}
h6,.zeta {
  @include declare-font-size-in-pixels(12);
  line-height: 1.7;
}

/* Smaller-than-body-copy sizes here. */
small, .milli {
  @include declare-font-size-in-pixels(12);
  line-height: 1.7;
}

b, strong {
  color: $black;
  background: $highlighter;
  font-weight: bold;
  margin: 0 -5px;
  padding: 3px 5px;
}

blockquote {
  font-style: italic;
}

// for rich-text editors
// or because sometimes you just want to have spacing, etc work with no extra markup
.rich-text {

  h2, h3 {
    &:first-child {
      margin-top: 0;
    }
  }

  h2 {
    margin-top: 4em;
  }

  h3 {
    margin-top: 2em;
    margin-bottom: 0.5em;
  }

  ul, ol {
    margin-left: 2em;

    ul,ol {
      margin-top: 1em;
    }
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
    ol {
      list-style-type: upper-alpha;
       ol {
        list-style-type: upper-roman;
        ol {
          list-style-type: lower-alpha;
          ol {
            list-style-type: lower-roman;
          }
        }
       }
    }
  }

  li {
    margin-bottom: 1em;
  }

  // for lists that shouldn't look like lists
  .unlist {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
}
