
@mixin declare-font-size-in-pixels($pixels) {
  font-size: $pixels * 1px;
  font-size: ($pixels / $base-font-size) * 1rem;
}

@mixin declare-relative-font-size($multiplier) {
  font-size: $multiplier * $base-font-size * 1px;
  font-size: $multiplier * 1rem;
}

html {
  color: $black;
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  font-size: 100%;
  -webkit-text-size-adjust: 100%; // Prevent font scaling in landscape while allowing user zoom
}

body {
  font-size: $base-font-size / 16 * 100%; // big assumption that the browser's base is 16px
  line-height: $base-line-height;

  @media (min-width: $sidebar-breakpoint) {
    font-size: $base-font-size-desktop / 16 * 100%;
    line-height: $base-line-height-desktop;
  }
}

/* Common margin-bottom for vertical rhythm. */
h1,h2,h3,h4,h5,h6,ul,ol,dl,fieldset,p,table,pre,hr {
    // margin-bottom: $magic-number * 1px;
    margin-bottom: $base-line-height * 1em;

    @media (min-width: $sidebar-breakpoint) {
      margin-bottom: $base-line-height-desktop * 1em;
    }
}

// headers
h1, h2, h3 {
  // check performance painting; does nothing in ie/edge
  text-rendering: optimizeLegibility;
}

/* These handle massive type, for less frequently occuring bits of text (e.g. in mastheads and banners). */
// .giga {
//   @include declare-font-size-in-pixels(80);
//   line-height: 1.7;
// }
// .mega {
//   @include declare-font-size-in-pixels(64);
//   line-height: 1.7;
// }
// .kilo {
//   @include declare-font-size-in-pixels(48);
//   line-height: 1.7;
// }

/* Define headings and their associated classes here. */
h1,.alpha {
  font-size: 1.2em;

  @media (min-width: $sidebar-breakpoint) {
    font-size: 1.5em;
    line-height: 1.8;
  }
}
h2,.beta {
  font-size: 1.15em;
  text-decoration: underline;

  @media (min-width: $sidebar-breakpoint) {
    font-size: 1.3em;
  }
}
h3,.gamma {
  font-size: 1.05em;
  text-decoration: underline;

  @media (min-width: $sidebar-breakpoint) {
    font-size: 1.15em;
  }
}
h4,.delta {
  font-size: 0.9em;
  line-height: 1.7;
  margin-bottom: 1em;
}
h5,.epsilon {
  font-size: 0.85em;
  line-height: 1.7;
  color: #999;
  margin-bottom: 0.5em;
}
h6,.zeta {
  @include declare-font-size-in-pixels(12);
  line-height: 1.7;
}

/* Smaller-than-body-copy sizes here. */
small, .milli {
  @include declare-font-size-in-pixels(12);
  line-height: 1.7;
}

b, strong {
  color: $black;
  background: $highlighter;
  font-weight: bold;
  margin: 0 -0.15em;
  padding: 0.05em 0.15em;
}

blockquote {
  font-style: italic;
}

figcaption {
  font-size: 0.9em;
  font-style: italic;
  line-height: 1.2;

  @media (min-width: $sidebar-breakpoint) {
    font-size: 1em;
  }
}

// for rich-text editors
// or because sometimes you just want to have spacing, etc work with no extra markup
.rich-text {

  h2, h3 {
    &:first-child {
      margin-top: 0;
    }
  }

  h2 {
    margin-top: 4em;
  }

  h3 {
    margin-top: 2em;
    margin-bottom: 0.5em;
  }

  ul, ol {
    margin-left: 2em;

    ul,ol {
      margin-top: 1em;
    }
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
    ol {
      list-style-type: upper-alpha;
       ol {
        list-style-type: upper-roman;
        ol {
          list-style-type: lower-alpha;
          ol {
            list-style-type: lower-roman;
          }
        }
       }
    }
  }

  li {
    margin-bottom: $base-line-height * 1em;

    @media (min-width: $sidebar-breakpoint) {
      margin-bottom: $base-line-height-desktop * 1em;
    }
  }

  // for lists that shouldn't look like lists (more like paragraphs)
  .unlist {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
}
