
$base-font-size: 16;
$base-line-height: 1.7;
$magic-number: $base-font-size * $base-line-height;

@mixin font-size($font-size, $line-height) {
  font-size: $font-size * 1px;
  font-size: ($font-size / $base-font-size) * 1rem;
  line-height: $line-height; // keep this on the vertical grid somehow?
}

html {
  color: #000;
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  font-size: $base-font-size * 1px;
  line-height: $base-line-height; // magic number
}

/* Common margin-bottom for vertical rhythm. */
h1,h2,h3,h4,h5,h6,ul,ol,dl,fieldset,p,table,pre,hr {
    margin-bottom: $magic-number * 1px;
    margin-bottom: $base-line-height * 1rem;
}

/* These handle massive type, for less frequently occuring bits of text (e.g. in mastheads and banners). */
.giga {
    font-size:80px;
    font-size:5rem;     /* 80px */
    line-height:1.2;    /* 96px */
}
.mega {
    font-size:64px;
    font-size:4rem;     /* 64px */
    line-height:1.125;  /* 72px */
}
.kilo {
    font-size:48px;
    font-size:3rem;     /* 48px */
    line-height:1;      /* 48px */
}

/* Define headings and their associated classes here. */
h1,.alpha {
  @include font-size(27, 1.7);
}
h2,.beta {
  @include font-size(24, 1.6);
  text-decoration: underline;
}
h3,.gamma {
    font-size:20px;
    font-size:1.25rem;  /* 20px */
    line-height:1.2;    /* 24px */
}
h4,.delta {
    font-size:18px;
    font-size:1.125rem; /* 18px */
    line-height:1.333;  /* 24px */
}
h5,.epsilon {
    font-size:16px;
    font-size:1rem;     /* 16px */
    line-height:1.5;    /* 24px */
}
h6,.zeta {
    font-size:16px;
    font-size:1rem;     /* 16px */
    line-height:1.5;    /* 24px */
}

/* Smaller-than-body-copy sizes here. */
small, .milli {
    font-size:12px;
    font-size:0.75rem;  /* 12px */
    line-height:2;      /* 24px */
}
