$sidebar-breakpoint: 769px;

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  background: #fff;
  // padding: 0 0 2em;
}

.sidebar-open {
  &, & body {
    // height: 100%;
    overflow: hidden;
    // position: relative;
  }
}

body {
  color: #000;
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
}

.site-wrapper {
  @media (min-width: $sidebar-breakpoint) {
    margin-right: 20%;
  }
}

.left-text {
  text-align: left;
}

.menu-toggle {
  border-radius: 25% 0 0 25%;
  color: #fff;
  font-size: 1.5em;
  height: 46px;
  // margin-top: -22px;
  position: fixed;
  right: 0;
  text-decoration: none;
  top: 45%;
  transition: all 0.3s;
  width: 40px;
  z-index: 20;

  &, &:hover {
    background: #999;
    background: rgba(#999, 0.5);
  }

  img {
    display: block;
    height: 20px;
    left: 10px;
    position: absolute;
    top: 13px;
    width: 20px;
    transition: all 0.3s;
    // top: -0.1em;
  }

  .sidebar-open & {
    background: #666;
    img {
      transform: rotate(45deg);
    }
  }

  @media (min-width: $sidebar-breakpoint) {
    display: none;
  }

}

.sidebar {
  background: #f9f9f9;
  background: rgba(#f9f9f9, 0.96);
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  padding: 0 5%;
  z-index: 10;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all 0.3s;

  .sidebar-open & {
    left: 0;
  }

  @media (min-width: $sidebar-breakpoint) {
    border-left: 1px solid #ddd;
    left: auto;
    overflow: visible;
    padding: 0;
    right: 0;
    text-align: center;
    width: 20%;

    .sidebar-open & {
      left: auto;
    }
  }
}

.sidebar-content {
  overflow: auto;

  @media (min-width: $sidebar-breakpoint) {
    overflow: visible;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
}

.sidebar-nav {
  list-style: none;
  margin: 10px 0;
  padding: 0;

  li {
    line-height: 1.3em;
    margin: 0;

    @media (min-width: $sidebar-breakpoint) {
      display: block;
      line-height: 1.3em;
      margin: 0;
    }
  }

  a {
    background: none;
    color: #000;
    display: inline-block;
    font-size: 16px;
    padding: 14px 20px;
    margin: 0;
    text-decoration: none;
    transition: .2s all;

    &:hover {
      background: #fff;
      color: #000;
    }

    @media (min-width: $sidebar-breakpoint) {
      display: block;
      font-size: 0.7em;
      padding: 3px 0;
    }
  }

  .current {
    background: #000;
    // border: 1px solid #999;
    // border-radius: 15px;
    color: #fff !important;
    pointer-events: none;

    @media (min-width: $sidebar-breakpoint) {
      background: #fff;
      color: #000 !important;
      position: relative;
      left: -1px;
      padding-left: 1px;
      margin-right: -1px;
      pointer-events: none;
    }
  }

  &.recede a {
    color: #777;

    &:hover {
      background: #fff;
      color: #000;
    }
  }
}

.sidebar-header {
  font-size: 0.9em;
  margin: 1em 0;
  display: none;

  @media (min-width: $sidebar-breakpoint) {
    display: block;
  }
}

.sidebar-subhead {
  color: #999;
  font-size: 0.8em;
  margin: 1em 0 0.5em;
  display: none;

  @media (min-width: $sidebar-breakpoint) {
    display: block;
  }
}

.sidebar-group {
  margin: 2em 0 2em;
}

.site-width {
  margin: 0 auto;
  padding: 0 7%;
  max-width: 80em;
}

.narrow-site-width {
  margin: 0 auto;
  padding: 0 7%;
  max-width: 48em;
}

.reversed {
  background: #000;
  color: #fff;
}

.spaced {
  padding: 2em 0;
}

.banner {
  *:first-child {
    margin-top: 1em;
  }

  *:last-child {
    margin-bottom: 1em;
  }
}

.hero-image {
  max-width: 80%;
  position: relative;
  left: -2px;
}

.site-header {
  padding: 4em 0;
}

.site-footer {
  margin: 14em 0 3em;
}

.col-1-5 {
  display: inline-block;
  width: 50%;

  @media (min-width: 568px) {
    width: 33%;
  }

  @media (min-width: 1024px) {
    width: 20%;
  }
}

.callout {
  padding: 0 10% 10%;
}

blockquote {
  font-style: italic;
}

h1 {
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.6;
  // margin: 0 0 1em;
}

h2 {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.4;
  margin: 3em 0 1em;
  text-decoration: underline;
}

h3 {
  font-size: 1.1em;
  font-weight: 400;
  margin: 3em 0 1em;
  text-decoration: underline;
}

h4 {
  font-size: 1em;
  margin: 1em 0 0.5em;
}

h5 {
  font-size: 1em;
  margin: 1em 0 0.5em;
}

@media (min-width: 600px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 1.7em;
    line-height: 1.7;
  }

  h2 {
    font-size: 1.5em;
    font-weight: 500;
    margin: 3em 0 1em;
    line-height: 1.6;
  }

  h3 {
    font-size: 1.3em;
    line-height: 1.6;
  }

  h4 {
    font-size: 1.2em;
  }

  h5 {
    font-style: 1.1em;
  }
}

p {
  margin: 1em 0 2em;
}

li {
  margin: 0 0 .4em;
}

b, strong {
  color: #000;
  background: #ff0;
  font-weight: 700;
  margin: 0 -5px;
  padding: 3px 5px;
}

.reversed b,
.reversed strong {
  // background: #fff;
  // color: #000;
}

a {
  background: #000;
  color: #fff;
  cursor: pointer;
  margin: 0 -5px;
  padding: 3px 5px;
  text-decoration: underline;

  &:hover {
    background: #0a9e0e;
    text-decoration: none;
  }
}

.reversed a {
  background: #fff;
  color: #000;

  &:hover {
    background: #0a9e0e;
    color: #fff;
    text-decoration: none;
  }
}

figure {
  display: table;
  margin: 0;
  /* width: 1px; */
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

figcaption {
  font-style: italic;
}

ul {
  list-style: none;
  margin: 1em 0 2em;
  padding: 0;
}
.bullets {
  list-style: disc;
  padding-left: 2em;
}

ul li {
  margin: 0 0 1em;
}

ul li b {
  // display: block;
}

